@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.start-invitation {
  position: fixed;
  background-color: #CAB164;
  opacity: 1;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.5s;
}
.start-invitation .header-text-front {
  font-family: "Alice", serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
  color: #fff;
}
.start-invitation .boyfriend_name {
  font-family: "Alice", serif;
  font-size: clamp(2.3rem, 6vw, 6.875rem);
  font-weight: 400;
  color: #fff;
}
.start-invitation .btn-calendar {
  padding: 15px 30px;
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: clamp(0.6rem, 2.5vw, 0.9rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  line-height: 1.24em;
  transition: all 0.3s;
}
.start-invitation .btn-calendar:hover {
  background-color: #fff;
  color: #CAB164;
}

.start-invitation.out {
  opacity: 0;
  z-index: -100;
}

.container-general {
  width: 100%;
  min-height: 100vh;
}

.box-header-content {
  width: 100%;
  min-height: 1534px;
  max-height: 3000px;
  background-image: url("../img/header.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.box-header-content::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 85vh;
  background-color: rgba(42, 42, 42, 0.5);
}
.box-header-content .front-layer {
  width: 100%;
  height: 85vh;
  position: relative;
  z-index: 5;
}
.box-header-content .header-text-front {
  font-family: "Alice", serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 400;
  color: #fff;
}
.box-header-content .boyfriend_name {
  font-family: "Alice", serif;
  font-size: clamp(2.3rem, 6vw, 6.875rem);
  font-weight: 400;
  color: #fff;
}
.box-header-content .wedding-day {
  font-family: "Alice", serif;
  font-size: clamp(1.3rem, 2.5vw, 2.5rem);
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
.box-header-content .btn-calendar {
  padding: 15px 30px;
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: clamp(0.6rem, 2.5vw, 0.9rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border: solid 2px #CAB164;
  color: #CAB164;
  line-height: 1.24em;
  transition: all 0.3s;
}
.box-header-content .btn-calendar:hover {
  background-color: #CAB164;
  color: #fff;
}

.section-history {
  padding-top: 4em;
  padding-bottom: 4em;
  width: 100%;
  min-height: 1060px;
  max-height: 1500px;
  background-color: #fff;
}
.section-history .box-history {
  max-width: 1200px;
}
.section-history .img-icon {
  margin: 0 auto;
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 20px;
}
.section-history .img-icon img {
  width: 100%;
  height: auto;
}
.section-history .title-text {
  font-size: clamp(1.5rem, 4.5vw, 3.5rem);
  font-family: "Alice", serif;
  margin-bottom: 20px;
}
.section-history .text-content {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Mulish", serif;
  color: #7A7A7A;
  margin-bottom: 70px;
}
.section-history .box-img-boyfriend-history {
  max-width: 475px;
  height: 475px;
  position: relative;
  user-select: none;
}
.section-history .box-img-boyfriend-history img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.box-body-content {
  width: 100%;
  min-height: 1080px;
  max-height: 5000px;
  background-image: url("../img/body.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.box-body-content .box-song {
  width: 100%;
  height: 480px;
  background-color: #F7F2D5;
  padding: 4em 0;
}
.box-body-content .box-song .title-song {
  font-size: clamp(1.8rem, 4.5vw, 2.9rem);
  font-family: "Alice", serif;
  margin-bottom: 20px;
}
.box-body-content .box-song .autor {
  font-family: "Alice", serif;
  font-size: clamp(1.2rem, 4.5vw, 1.5rem);
  color: #CAB164;
  margin-bottom: 20px;
}
.box-body-content .box-song .audio-song {
  max-width: 1200px;
}
.box-body-content .box-song .audio-song audio {
  width: 100%;
}
.box-body-content .confirm-assistance {
  z-index: 2;
  width: 100%;
  min-height: 600px;
  max-height: 1000px;
  background-color: rgba(42, 42, 42, 0.5);
}
.box-body-content .confirm-assistance .box-confirm-assistance {
  min-height: 600px;
  max-height: 700px;
  max-width: 1200px;
  margin: 0 auto;
}
.box-body-content .title-confirm-asistance {
  font-family: "Alice", serif;
  color: #fff;
  font-size: clamp(1.8rem, 4.5vw, 3.2rem);
}
.box-body-content .countdown-clock {
  font-family: "Mulish", serif;
  color: #fff;
}
.box-body-content .text-number {
  font-size: clamp(1.4rem, 4.5vw, 2rem);
}
.box-body-content .text-date {
  font-size: clamp(0.7rem, 4.5vw, 0.8rem);
}
.box-body-content .text-legend {
  font-family: "Mulish", serif;
  color: #fff;
  font-size: clamp(0.8rem, 4.5vw, 1.1rem);
}
.box-body-content .form-assistance {
  max-width: 375px;
  height: 375px;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Mulish", serif;
}
.box-body-content .form-assistance .text-description {
  font-size: clamp(0.9rem, 2.5vw, 0.9rem);
  color: #9E9E9E;
}
.box-body-content .form-assistance .btn-calendar {
  padding: 15px 30px;
  font-family: "Mulish", serif;
  font-weight: 700;
  font-size: clamp(0.6rem, 2.5vw, 0.9rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border: solid 2px #CAB164;
  color: #CAB164;
  line-height: 1.24em;
  transition: all 0.3s;
}
.box-body-content .form-assistance .btn-calendar:hover {
  background-color: #CAB164;
  color: #fff;
}
.box-body-content .form-assistance .text-assistance {
  padding: 5px;
  width: 100%;
  height: 325px;
  border: dashed #CAB164 1px;
  color: #9E9E9E;
  font-size: clamp(1rem, 4.5vw, 1.6rem);
  text-align: center;
  transition: all 0.3s;
}
.box-body-content .form-assistance .text-assistance i {
  color: #CAB164;
  font-size: 4rem;
}

.box-photos-galery {
  width: 100%;
  min-height: 551px;
  max-height: 4000px;
  background-color: #fff;
}
.box-photos-galery .galery {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
}
.box-photos-galery .img-photo {
  max-width: 282px;
  height: 423px;
}
.box-photos-galery .img-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-details {
  width: 100%;
  min-height: 1729px;
  background-color: #F7F2D5;
}
.box-details .box-address-details {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 50px;
}
.box-details .img-icon {
  margin: 0 auto;
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 20px;
}
.box-details .img-icon img {
  width: 100%;
  height: auto;
}
.box-details .title-address {
  font-size: clamp(1.5rem, 4.5vw, 2.5rem);
  font-family: "Alice", serif;
  margin-bottom: 20px;
}
.box-details .title-text-address {
  font-size: clamp(1.3rem, 4.5vw, 2rem);
  font-family: "Alice", serif;
  margin-bottom: 20px;
}
.box-details .text-address {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  font-family: "Mulish", serif;
  color: #7A7A7A;
  margin-bottom: 20px;
}
.box-details .address {
  max-width: 1200px;
  padding: 30px;
  min-height: 780px;
  margin: 0 auto;
  background-color: #fff;
}
.box-details .box-map {
  width: 100%;
  min-height: 512px;
}
.box-details iframe {
  min-height: 512px;
  width: 100%;
}
.box-details .box-additional-information {
  width: 100%;
  min-height: 569px;
  margin-top: 30px;
  background-color: #fff;
}
.box-details .box-text-information {
  padding: 32px;
  min-height: 355px;
}
.box-details .text-subtitle-information {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  font-family: "Alice", serif;
}
.box-details .text-information {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  font-family: "Mulish", serif;
  color: #7A7A7A;
}
.box-details .box-line {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: end;
}
.box-details .line-2 {
  margin: 0 auto;
  width: clamp(2rem, 30vw, 7rem);
  border: 2px solid #CAB164;
}

.box-footer {
  width: 100%;
  height: 144px;
  background-image: url("../img/foto_7.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.box-footer::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 144px;
  background-color: rgba(42, 42, 42, 0.5);
}

.line {
  width: clamp(2rem, 30vw, 7rem);
  border: solid 1px #fff;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .box-photos-galery .galery {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 20px;
  }
}
@media (max-width: 820px) {
  .section-history {
    min-height: 990px;
  }
  .box-photos-galery .galery {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 0px;
  }
}
@media (max-width: 800px) {
  .section-history {
    min-height: 900px;
  }
  .box-photos-galery .galery {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 0px;
  }
}
@media (max-width: 712px) {
  .box-photos-galery .galery {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 0px;
  }
}
@media (max-width: 600px) {
  .box-photos-galery .galery {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 20px;
  }
}
@media (max-width: 500px) {
  .section-history {
    min-height: 990px;
  }
  .section-history .box-img-boyfriend-history {
    max-width: 350px;
    height: 350px;
    position: relative;
    user-select: none;
  }
  .box-body-content {
    height: 1180px;
  }
  .box-photos-galery .galery {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 0px;
  }
  .box-photos-galery .img-photo {
    max-width: 120px;
    height: 180px;
  }
}
@media (max-width: 360px) {
  .box-header-content {
    min-height: 1434px;
  }
}
@media (max-width: 320px) {
  .box-header-content {
    min-height: 1395px;
  }
  .section-history .box-img-boyfriend-history {
    max-width: 290px;
    height: 290px;
  }
  .box-photos-galery .galery {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-column-gap: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
